<h1>Need to develop UI and Logic</h1>

<form action="employees">
    <input type="submit" value="Employees">
</form>
<form action="units">
    <input type="submit" value="Units">
</form>
<form action="nlcs">
    <input type="submit" value="Nlcs">
</form>
<form action="transactions">
    <input type="submit" value="Transactions">
</form>
<form action="contributions">
    <input type="submit" value="Contributions">
</form>